{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "sourceMaps": true,
  "plugins": ["syntax-dynamic-import"],
  "ignore": ["node_modules", "build"]
}
